<section class="banner-section">
  <div class="banner-content {{ section.settings.three_part }} {{ section.settings.three_part }}">
    {% for image in section.blocks %}
      {% if section.settings.three_part == 'three-part' and image.settings.banner_image_2 != blank %}
        <img
          src="{{ image.settings.banner_image_2  | image_url: width: 951 }}"
          alt="oval shape engagement ring"
          width=""
          height=""
        >
      {% endif %}
    {% endfor %}
    {% for image in section.blocks %}
      {% if section.settings.three_part == 'three-part' and image.settings.banner_image_2 != blank %}
        <img
          src="{{ image.settings.banner_image_2  | image_url: width: 951 }}"
          alt="oval shape engagement ring"
          width=""
          height=""
        >
      {% endif %}
    {% endfor %}
    <div class="banner-mark">
      {% for block in section.blocks %}
        {% if block.settings.banner_title %}
          <h1 class="banner-title" style="font-family: {{ block.settings.banner_title_font_family.family }}">
            {{ block.settings.banner_title }}
          </h1>
          <p class="banner-description">{{ block.settings.banner_description }}</p>
        {% endif %}

        {% if block.settings.button_text != blank %}
          <div class="button-wrapper" style="display: flex; justify-content: {{ block.settings.button_alignment }};">
            <button
              class="button"
              style="font-size: {{ block.settings.button_font_size }}; background-color: {{ block.settings.button_background_color }}; color: {{ block.settings.button_text_color }}; border-radius: {{ block.settings.button_border_radius }}; padding: {{ block.settings.button_padding }}; border: {{ block.settings.button_border }}; outline: {{ block.settings.button_outline }};"
            >
              {{ block.settings.button_text }}
            </button>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% for image in section.blocks %}
      {% if image.settings.banner_image_1 %}
        <img
          src="{{ image.settings.banner_image_1  | image_url: width: 951 }}"
          alt="oval shape engagement ring"
          width=""
          height=""
        >
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "select",
      "id": "three_part",
      "label": "Three Part",
      "options": [
        {
          "value": "three-part",
          "label": "Three Part"
        },
        {
          "value": "two-part",
          "label": "Two Part"
        }
      ]
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text Color"
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "flex-direction",
      "label": "Flex Direction",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "column",
          "label": "Column"
        },
        {
          "value": "row-reverse",
          "label": "Row Reverse"
        },
        {
          "value": "column-reverse",
          "label": "Column Reverse"
        }
      ]
    },
    {
      "type": "select",
      "id": "justify-content",
      "label": "Justify Content",
      "options": [
        {
          "value": "flex-start",
          "label": "Flex Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Flex End"
        }
      ]
    },
    {
      "type": "select",
      "id": "align-items",
      "label": "Align Items",
      "options": [
        {
          "value": "flex-start",
          "label": "Flex Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Flex End"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "banner_text",
      "name": "Banner Text",
      "settings": [
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title"
        },
        {
          "type": "textarea",
          "id": "banner_description",
          "label": "Banner Description"
        },
        {
          "type": "font_picker",
          "id": "banner_title_font_family",
          "label": "Title Font Family",
          "default": "mono"
        }
      ]
    },
    {
      "type": "banner_image_after",
      "name": "Banner Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image_1",
          "label": "Banner Image"
        }
      ]
    },
    {
      "type": "banner_image_before",
      "name": "Banner Image Before",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image_2",
          "label": "Banner Image Before"
        }
      ]
    },

    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "button_alignment",
          "label": "Button Alignment",
          "options": [
            { "value": "flex-start", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "flex-end", "label": "Right" }
          ]
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button Background Color",
          "default": "#007bff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_font_size",
          "label": "Button Font Size",
          "default": "16px"
        },
        {
          "type": "text",
          "id": "button_border_radius",
          "label": "Button Border Radius",
          "default": "4px"
        },
        {
          "type": "text",
          "id": "button_padding",
          "label": "Button Padding",
          "default": "10px 20px"
        },
        {
          "type": "text",
          "id": "button_border",
          "label": "Button Border",
          "default": "1px solid #007bff"
        },
        {
          "type": "text",
          "id": "button_outline",
          "label": "Button Outline",
          "default": "none"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner",
      "category": "Banner",
      "blocks": [{ "type": "banner_text" }, { "type": "button" }]
    }
  ]
}
{% endschema %}

<style>
  .banner-section {
    background: {{ section.settings.background-color }};
  }

  .banner-mark h1{
    color: {{ section.settings.text-color }};
    text-align: {{section.settings.text-align}};
  }

  .banner-mark p{
    color: {{ section.settings.text-color }};
    text-align: {{section.settings.text-align}};
  }

  .banner-mark{
    flex-direction: {{section.settings.flex-direction}};
    align-items: {{section.settings.align-items}};
    justify-content: {{section.settings.justify-content}};
  }
</style>

{% stylesheet %}
  .banner-content {
    display: flex;
    justify-content: center;
  }

  .banner-content.three-part {
    justify-content: space-between;
  }

  .banner-content.two-part img {
    max-width: 50%;
    height: 100%;
  }

  .banner-content.three-part img {
    max-width: 260px;
  }

  .banner-mark {
    max-width: 437px;
    display: flex;
    margin: 0 auto;
  }

  .banner-mark h1 {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
  }

  .banner-mark p {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 110%;
  }

  @media (max-width: 991px) {
    .banner-content.two-part {
      flex-direction: column;
    }

    .banner-mark {
      max-width: 100%;
      padding: 20px 16px;
    }
  }

  @media (max-width: 767px) {
    .banner-content.three-part img {
      max-width: 180px;
    }

    .banner-mark h1 {
      margin-bottom: 10px;
      font-size: 40px;
    }
    .banner-mark p {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 575px) {
    .banner-content.three-part {
      flex-direction: column;
    }

    .banner-content.three-part img {
      height: 300px;
      max-width: 100%;
    }
    .banner-mark h1 {
      font-size: 36px;
    }
    .banner-mark p {
      font-size: 14px;
    }
  }
{% endstylesheet %}
