<section class="banner-section">
  <div class="banner-content">
    <div class="banner-mark">
      {% for block in section.blocks %}
        {% if block.settings.banner_title %}
          <h1 class="banner-title" style="font-family: {{ block.settings.banner_title_font_family }};">
            {{ block.settings.banner_title }}
          </h1>
          <p class="banner-description">{{ block.settings.banner_description }}</p>
        {% endif %}

        {% if block.settings.button_text != blank %}
          <div class="button-wrapper" style="display: flex; justify-content: {{ block.settings.button_alignment }};">
            <button
              class="button"
              style="font-size: {{ block.settings.button_font_size }}; background-color: {{ block.settings.button_background_color }}; color: {{ block.settings.button_text_color }}; border-radius: {{ block.settings.button_border_radius }}; padding: {{ block.settings.button_padding }}; border: {{ block.settings.button_border }}; outline: {{ block.settings.button_outline }};"
            >
              {{ block.settings.button_text }}
            </button>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div>
      <img
        src="{{ 'hero-image-1.jpg' | asset_url }}"
        alt="oval shape engagement ring"
        width="951"
        height=""
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner",
  "settings": [],
  "blocks": [
    {
      "type": "banner_text",
      "name": "Banner Text",
      "settings": [
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title"
        },
        {
          "type": "textarea",
          "id": "banner_description",
          "label": "Banner Description"
        },
        {
          "type": "font_picker",
          "id": "banner_title_font_family",
          "label": "Title Font Family",
          "default": "mono"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "button_alignment",
          "label": "Button Alignment",
          "options": [
            { "value": "flex-start", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "flex-end", "label": "Right" }
          ]
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button Background Color",
          "default": "#007bff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_font_size",
          "label": "Button Font Size",
          "default": "16px"
        },
        {
          "type": "text",
          "id": "button_border_radius",
          "label": "Button Border Radius",
          "default": "4px"
        },
        {
          "type": "text",
          "id": "button_padding",
          "label": "Button Padding",
          "default": "10px 20px"
        },
        {
          "type": "text",
          "id": "button_border",
          "label": "Button Border",
          "default": "1px solid #007bff"
        },
        {
          "type": "text",
          "id": "button_outline",
          "label": "Button Outline",
          "default": "none"
        }
      ]
    }
  ],
  "max_blocks": 2,
  "presets": [
    {
      "name": "Banner",
      "category": "Banner",
      "blocks": [{ "type": "banner_text" }, { "type": "button" }]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .banner-section {
    background: #faf5ef;
    /* height: calc(100vh - 130px); */
  }

  .banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .banner-content img {
    max-width: 100%;
    height: 100%;
  }

  .banner-mark {
    max-width: 437px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
  }

  .banner-mark h1 {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
  }

  .banner-mark p {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 110%;
  }

  @media (max-width: 991px) {
    .banner-content {
      grid-template-columns: 1fr;
    }

    .banner-mark {
      max-width: 100%;
      padding: 20px 16px;
    }
  }

  @media (max-width: 767px) {
    .banner-mark h1 {
      margin-bottom: 10px;
      font-size: 40px;
    }
    .banner-mark p {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 575px) {
    .banner-mark h1 {
      font-size: 36px;
    }
    .banner-mark p {
      font-size: 14px;
    }
  }
{% endstylesheet %}
