<section
  class="instock-jewellery"
  style="background: url({{ section.settings.background-image | img_url: 'master' }}); background-size: cover; padding: {{ section.settings.padding-top }}px 0 {{ section.settings.padding-bottom }}px;"
>
  <div class="main-container">
    {% if section.settings.instock_title != blank %}
      <div class="content-container" style="display: flex; flex-direction: column; justify-content: {{ section.settings.align-top-bottom }}; align-items: {{ section.settings.align-left-right }};">
        <h2>{{ section.settings.instock_title }}</h2>
        <p>{{ section.settings.instock_sub_title }}</p>
        {% for block in section.blocks %}
          {% if block.settings['button-label'] %}
            <button class="btn-dark">{{ block.settings['button-label'] }}</button>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "instock-section",
  "settings": [
    {
      "type": "number",
      "label": "padding-top",
      "id": "padding-top",
      "default": 0
    },
    {
      "type": "number",
      "label": "padding-bottom",
      "id": "padding-bottom",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "instock_title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "instock_sub_title",
      "label": "Section Sub Title"
    },
    {
      "type": "select",
      "id": "align-top-bottom",
      "label": "ALignment Top-Bottom",
      "options": [
        {
          "value": "flex-start",
          "label": "top",
        },
        {
          "value": "center",
          "label": "Center",
        },
        {
          "value": "flex-end",
          "label": "Bottom",
        }
      ]
    },
    {
      "type": "select",
      "id": "align-left-right",
      "label": "ALignment Left-Right",
      "options": [
        {
          "value": "flex-start",
          "label": "Left",
        },
        {
          "value": "center",
          "label": "Center",
        },
        {
          "value": "flex-end",
          "label": "Right",
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "button-stock",
      "name": "button-stock",
      "settings": [
        {
          "type": "text",
          "label": "Button-label",
          "id": "button-label"
        }
      ]
    }
  ],
  "max_blocks": 1,

  "presets": [
    {
      "name": "instock-section",
      "blocks": [
        {
          "type": "button-stock"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .instock-jewellery .content-container {
    margin-left: 189px;
  }

  .instock-jewellery .content-container h2 {
    font-size: 48px;
    font-weight: 400;
    color: #1a0902;
  }

  .instock-jewellery .content-container p {
    margin: 40px 0;
    font-size: 16px;
    font-weight: 400;
    color: #1a0902;
  }

  .instock-jewellery .content-container button {
    border-radius: 55px;
    padding: 15px 30px;
    background: #1a0902;
    color: #faf5ef;
    border: 1px solid #1a0902;
  }

  .instock-jewellery .content-container {
    max-width: 410px;
  }

  @media (max-width: 991px) {
    .instock-jewellery{
        padding: 90px 0 !important;
    }

    .instock-jewellery .content-container {
      margin-left: 100px !important;
    }
  }
   @media (max-width: 767px) {
    .instock-jewellery{
        padding: 50px 0 !important;
    }

    .instock-jewellery .content-container {
      margin-left: 60px !important;
    }
  }

  @media (max-width: 575px) {
    .instock-jewellery{
        padding: 30px 0 !important;
    }

    .instock-jewellery .content-container {
      margin-left: 0 !important;
    }
  }
{% endstylesheet %}
