<section
  class="top-engagement-rings"
  style="padding: {{ section.settings.padding-top }}px 0 {{ section.settings.padding-bottom }}px; background: {{ section.settings.background-color }}"
>
  <div class="main-container">
    <h2
      class="section-title"
      style="margin-bottom: {{ section.settings.title-margin-bottom }}px; font-family: 'Satoshi', sans-serif;"
    >
      {{ section.settings.section_title }}
    </h2>
    <p
      class="section-sub-title"
      style="margin-bottom: {{ section.settings.sub-margin-bottom }}px; font-family: 'Satoshi', sans-serif;"
    >
      {{ section.settings.section_sub_title }}
    </p>
    <div class="top-rings-image">
      {% for block in section.blocks %}
        <div class="top-enagagement-work">
          {% if block.settings.engagement_ring_image %}
            <img
              src="{{ block.settings.engagement_ring_image | image_url: width: 1000 }}"
              alt="{{ block.settings.engagement_ring_image }}"
              width=""
              height="626"
              class="card-background"
            >
          {% endif %}
          {% comment %}
            {% if block.settings.video_play %}
             <video
               playsinline="playsinline"
               autoplay
               muted="muted"
               loop="loop"
               class="custom-video-class"
               preload="metadata"
               poster="{{ block.settings.thumbnail_image }}"
             >
               <source
                 src="{{ block.settings.video_play | file_url }}"
                 type="video/mp4"
               >
               <img src="{{ block.settings.thumbnail_image | image_url: width: 500 }}" width="" height="" alt="{{ block.settings.thumbnail_image }}">
             </video>
             {% endif %}
          {% endcomment %}
          <div class="enagement-card-content">
            <h6 class="engagement-ring-name">{{ block.settings['rings-text'] }}</h6>
            <p class="engagement-ring-price">{{ block.settings['rings-price'] }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="top-rings-slider">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="top-enagagement-work swiper-slide">
              {% if block.settings.engagement_ring_image %}
                <img
                  src="{{ block.settings.engagement_ring_image | image_url: width: 1000 }}"
                  alt="{{ block.settings.engagement_ring_image }}"
                  width=""
                  height="626"
                  class="card-background"
                >
              {% endif %}
              <div class="enagement-card-content">
                <h6 class="engagement-ring-name">{{ block.settings['rings-text'] }}</h6>
                <p class="engagement-ring-price">{{ block.settings['rings-price'] }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

{% comment %}
  {
    "type": "video",
    "label": "Engagement video",
    "id": "video_play"
  },
  {
    "type": "image_picker",
    "label": "Engagement Thumbnail Image",
    "id": "thumbnail_image"
  }
{% endcomment %}

{% schema %}
{
  "name": "top-engagement-rings",
  "settings": [
    {
      "type": "range",
      "label": "padding-top",
      "id": "padding-top",
      "max": 100,
      "min": 0,
      "default": 0,
      "step": 1
    },
    {
      "type": "range",
      "label": "padding-bottom",
      "id": "padding-bottom",
      "max": 100,
      "min": 0,
      "default": 0,
      "step": 1
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background color"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "range",
      "id": "title-margin-bottom",
      "label": "Title margin bottom",
      "max": 100,
      "min": 0,
      "default": 0
    },
    {
      "type": "text",
      "id": "section_sub_title",
      "label": "Section Sub Title"
    },
    {
      "type": "range",
      "id": "sub-margin-bottom",
      "label": "Title margin bottom",
      "max": 100,
      "min": 0,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "engagement-rings-card",
      "name": "Engagement Rings Card",
      "settings": [
        {
          "type": "image_picker",
          "label": "Engagement Card Image",
          "id": "engagement_ring_image"
        },

        {
          "type": "text",
          "label": "Rings Name Text",
          "id": "rings-text"
        },
        {
          "type": "text",
          "label": "Rings price Text",
          "id": "rings-price"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "top-engagement-rings",
      "blocks": [
        {
          "type": "engagement-rings-card"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .section-title {
    font-size: 34px;
    line-height: 100%;
    font-weight: 400;
    color: #1a0902;
    text-align: center;
  }
  .section-sub-title {
    font-size: 16px;
    line-height: 100%;
    color: #1a0902;
    text-align: center;
  }

  .top-rings-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .top-rings-image .top-enagagement-work {
    border-radius: 10px;
    overflow: hidden;
  }

  .top-rings-image .top-enagagement-work:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
  }

  .top-rings-image .top-enagagement-work:nth-child(4) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
  }

  .top-enagagement-work {
    position: relative;
  }

  .enagement-card-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding-bottom: 20px;
  }

  .top-rings-slider {
    display: none;
  }

  .enagement-card-content .engagement-ring-name {
    font-size: 14px;
    color: #1a0902;
  }
  .enagement-card-content .engagement-ring-price {
    font-size: 12px;
    color: #1a0902;
  }

  @media (max-width: 991px) {
    .section-title {
      font-size: 30px;
    }

    .top-rings-image {
      display: none;
    }
    .top-rings-slider {
      display: block;
    }

    .top-rings-slider .swiper{
      padding-bottom: 60px;
    }
    
    .top-rings-slider .swiper .swiper-slide{
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
      background-position: center;
      max-height: 400px;
      height: 100%;
      overflow: hidden;
    }
  }
  @media (max-width: 767px) {
    .section-title {
      font-size: 26px;
      margin-bottom: 30px !important;
    }

  }
  @media (max-width: 575px) {
      .top-rings-slider .swiper .swiper-slide{
        max-height: 300px;
      }
    .section-title {
      font-size: 24px;
      margin-bottom: 20px !important;
    }
  }
{% endstylesheet %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 1,
      spaceBetween: 20,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        576: {
          slidesPerView: 1.5,
        },
      },
    });
  });
{% endjavascript %}
